<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>%title%</title>
    <link rel="icon" href="../../../../y.png" type="image/x-icon" />
    <link rel="stylesheet" href="./../../../../base/style/blog.css">
</head>

<body>
<div class="blog-layout-container">
    <div class="sidebar"></div>
    <div class="article">
        %article%
    </div>
</div>

</body>
<script type="module" src="../../../../base/js/blog.js"></script>
</html>
