// 橙色系
$primary-50 : #E3F2FD;
$primary-100: #BBDEFB;
$primary-200: #90CAF9;
$primary-300: #64B5F6;
$primary-400: #42A5F5;
$primary-500: #2196F3;
$primary-600: #1E88E5;
$primary-700: #1976D2;
$primary-800: #1565C0;
$primary-900: #0D47A1;
$primary-A100: #82B1FF;
$primary-A200: #448AFF;
$primary-A400: #2979FF;
$primary-A700: #2962FF;

//橙色系
$secondary-50 : #FFFDE7;
$secondary-100: #FFF9C4;
$secondary-200: #FFF59D;
$secondary-300: #FFF176;
$secondary-400: #FFEE58;
$secondary-500: #FFEB3B;
$secondary-600: #FDD835;
$secondary-700: #FBC02D;
$secondary-800: #F9A825;
$secondary-900: #F57F17;
$secondary-A100: #FFFF8D;
$secondary-A200: #FFFF00;
$secondary-A400: #FFEA00;
$secondary-A700: #FFD600;

// 灰色
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// 蓝灰色
$blue-grey-50: #daeafa;
$blue-grey-100: #cadaea;
$blue-grey-200: #bacada;
$blue-grey-300: #aabaca;
$blue-grey-400: #9aaaba;
$blue-grey-500: #8a9aaa;
$blue-grey-600: #7a8a9a;
$blue-grey-700: #6a7a8a;
$blue-grey-800: #5a6a7a;
$blue-grey-900: #4a5a6a;