// 橙色系
$primary-0: #FFDED3;
$primary-1: #fcb298;
$primary-2: #ff9d8e;
$primary-3: #ec8364;
$primary-4: #e26452;
$primary-5: #9e322b;

// 绿色系
$secondary-0: #E9F0D5;
$secondary-1: #c3cfa3;
$secondary-2: #9bb87a;
$secondary-3: #78aa5d;
$secondary-4: #4b8244;
$secondary-5: #13633e;

// 青灰色辅助
$green-grey-1: #a6bbb9;
$green-grey-2: #799990;
$green-grey-3: #557a72;

// 蓝色辅助色
$contrasty-1: #a1c8ca;
$contrasty-2: #27aab0;
$contrasty-3: #008383;

// 灰色
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// 提示颜色
$checked: $secondary-3;
$error: $primary-3;
$warning: $primary-1;

$accent: #fdca6a;
$strong: #cce805;
