@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400&display=swap');

@import "./setting/reset.dev";
@import "./layout/home-page-layout.dev";
@import "component/header.dev";
@import "./animation/home-page-animation.dev";