@import "./theme-color.scss";

// 每天文章顶部的进度条样式
$progress-height: 4px;

.progress-bar {
    position: fixed;
    top: 0;

    width: 100vw;
    height: $progress-height;

    background: $primary-0;

    // todo
    .progress {
        width: 0;
        height: $progress-height;

        background: linear-gradient(to right, $primary-1, $primary-4);
    }
}

.progress-theme-secondary {
    background: $secondary-0;

    .progress {
        background: linear-gradient(to right, $secondary-1, $secondary-3);
    }
}

// 每篇文章的目录样式 - 桌面端
$catalog-width: 220px;
$catalog-padding: 30px;
$catalog-top: 30px;
$catalog-tab-size: 10px;

.catalog {
    position: sticky;
    top: 30px;
    margin-left: 0 - $catalog-padding - $catalog-width;
    height: 0;
    overflow: visible;
    transform: translateY(15px);
    width: $catalog-width;
    // direction: rtl;

    &::before {
        content: '目录';
        position: relative;
        bottom: 10px;

        font-size: 1.6em;
        font-weight: bold;
    }
}

.catalog-h1,
.catalog-h2,
.catalog-h3,
.catalog-h4,
.catalog-h5,
.catalog-h6 {
    box-sizing: border-box;
    border-left: 2px solid $primary-1;
    transition: ease-out .2s all;

    &:hover {
        border-color: $primary-4;
        background: $grey-200;
    }
}

.catalog-h1 {
    padding-left: $catalog-tab-size;
    font-weight: bold;
    color: $grey-900;
}

.catalog-h2 {
    padding-left: $catalog-tab-size * 2;
    font-weight: bold;
    color: $grey-800;
}

.catalog-h3 {
    padding-left: $catalog-tab-size * 3;
    font-weight: bold;
    color: $grey-700;
}

.catalog-h4 {
    padding-left: $catalog-tab-size * 4;
    color: $grey-600;
}

.catalog-h5 {
    padding-left: $catalog-tab-size * 5;
    color: $grey-500;
}

.catalog-h6 {
    padding-left: $catalog-tab-size * 6;
    color: $grey-400;
}

.catalog-item-focuson {
    background-color: $grey-100;
}