// 橙色系
$primary-1: #fcb298;
$primary-2: #ff9d8e;
$primary-3: #ec8364;
$primary-4: #e26452;
$primary-5: #9e322b;

// 绿色系
$secondary-1: #1b4c36;
$secondary-2: #13633e;
$secondary-3: #4b8244;
$secondary-4: #7da859;
$secondary-5: #bacb96;

// 青灰色辅助
$grey-1: #557a72;
$grey-2: #799990;
$grey-3: #a6bbb9;

// 蓝色辅助色
$contrasty-1: #008383;
$contrasty-2: #27aab0;
$contrasty-3: #a1c8ca;