// 页面布局相关参数
$page-up-down-padding: 70px;

// 左侧目录相关参数
$catalog-width: 280px;
$catalog-padding: 100px;
$catalog-top: 30px;
$catalog-tab-size: 12px;
$catalog-title-padding: 10px;

// header 相关参数
$header-height: 50px;

// 进度条相关参数
$progress-height: 4px;

// 主页相关参数
$welcome-page-font-size: 6vmin;
$animation-time: 1s;