@import "./../variable/common-variable.dev";
 body {
   scroll-behavior: smooth;
 }

.blog-layout-container {
  display: flex;
  justify-content: center;

  max-width: 1000px;
  padding: $page-up-down-padding 0;
  margin: 0 auto;
  position: relative;

  .sidebar {
    box-sizing: border-box;
    position: relative;
    margin-right: 10px;
    z-index: 1;
  }

  .sidebar-small-device {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;

    padding: $header-height 0 0 0;

    background: white;
    min-height: 100vh;

    transition: all .3s ease-out;
    border-right: unset;
    box-shadow: 1px 0 10px 0 #aaaaaaaa;

    &::after {
      opacity: 0;
      transition: opacity .3s ease-out;
      content: "";
      position: absolute;
      left: 100%;
      top: 0;

      z-index: -1;
      height: 200vh;
      width: 200vw;
      background: #eeeeee88;

      // 设置鼠标事件透明
      pointer-events: none;
    }

    .catalog {
      position: unset;
      margin-top: 25px;
    }
  }

  .sidebar-small-device-active {
    left: 0;
    &::after {
      opacity: 1;

    }
  }

  .article {
    flex: auto;
    z-index: 0;
  }
}