@import "./../variable/common-variable.dev";

.catalog {
  font-family: 'Noto Serif SC', serif;
  position: sticky;
  padding-top: $catalog-title-padding;
  top: $page-up-down-padding + $catalog-title-padding + 20px;  // 默认值
  overflow: auto;
  max-height: calc(100vh - 2 * #{$page-up-down-padding});
  width: $catalog-width;

  &::before {
    content: '目录';
    position: relative;
    left: 12px;
    bottom: $catalog-title-padding;

    font-size: 1.6em;
    font-weight: 500;
  }
}

.catalog-h1,
.catalog-h2,
.catalog-h3,
.catalog-h4,
.catalog-h5,
.catalog-h6 {
  line-height: 2;
  box-sizing: border-box;
  border-left: 2px solid $accent;
  transition: ease-out all .2s;

  &:hover {
    border-color: $primary-4;
    background: $grey-200;
  }
}

.catalog-h1 {
  padding-left: $catalog-tab-size;
  font-weight: bold;
  color: $grey-900;
}

.catalog-h2 {
  padding-left: $catalog-tab-size * 2;
  font-weight: bold;
  color: $grey-800;
}

.catalog-h3 {
  padding-left: $catalog-tab-size * 3;
  font-weight: bold;
  color: $grey-700;
}

.catalog-h4 {
  padding-left: $catalog-tab-size * 4;
  color: $grey-600;
}

.catalog-h5 {
  padding-left: $catalog-tab-size * 5;
  color: $grey-500;
}

.catalog-h6 {
  padding-left: $catalog-tab-size * 6;
  color: $grey-400;
}

.catalog-item-focuson {
  background-color: $grey-100;
}
