@import "./../variable/common-variable.dev";
@import "./../theme/theme-color.dev";

.catalog {
  box-sizing: border-box;
  font-family: 'Noto Serif SC', serif;
  padding-top: $catalog-title-padding;
  padding-right: 10px;
  overflow: auto;
  max-height: calc(100vh - 2 * #{$page-up-down-padding});
  width: $catalog-width;

  &::before {
    content: '目录';
    position: relative;
    left: 12px;
    bottom: $catalog-title-padding;

    font-size: 18px;
    font-weight: bold;
  }
}

.catalog-small-device {
  position: fixed;
  right: -100%;
}

.catalog-h1,
.catalog-h2,
.catalog-h3,
.catalog-h4,
.catalog-h5,
.catalog-h6 {
  line-height: 2;
  box-sizing: border-box;
  border-left: 2px solid $secondary-600;
  transition: ease-out all .2s;
  cursor: pointer;

  &:hover {
    border-color: $secondary-700;
    background: $grey-200;
  }
}

.catalog-h1 {
  padding-left: $catalog-tab-size;
  font-weight: bold;
  color: $grey-900;
}

.catalog-h2 {
  padding-left: $catalog-tab-size * 2;
  font-weight: bold;
  color: $grey-800;
}

.catalog-h3 {
  padding-left: $catalog-tab-size * 3;
  font-weight: bold;
  color: $grey-700;
}

.catalog-h4 {
  padding-left: $catalog-tab-size * 4;
  color: $grey-600;
}

.catalog-h5 {
  padding-left: $catalog-tab-size * 5;
  color: $grey-500;
}

.catalog-h6 {
  padding-left: $catalog-tab-size * 6;
  color: $grey-400;
}

.catalog-item-focuson {
  background-color: $grey-100;
}

.back-to-home-button{
  cursor: pointer;
  display: none;
  position: relative;
  top: 10px;

  padding: 5px 5px 5px 20px;
  margin-top: 15px;
  box-sizing: border-box;
  width: 100%;

  border-top: 1px solid $grey-200;
  border-bottom: 1px solid $grey-200;

  color: $blue-grey-600;
  font-family: 'Noto Serif SC', serif;
  transition: .2s all ease-out;

  &:hover {
    background: $grey-200;
  }
}

.back-to-home-button-show {
  display: block;
}