@import "./../variable/common-variable.dev";
@import "./../theme/theme-color.dev";

header {
  position: fixed;

  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;

  backdrop-filter: saturate(180%) blur(20px);

  padding-left: 10px;
  display: flex;
  height: $header-height;
  font-size: 20px;
  align-items: center;
  justify-content: left;

  color: #353535;

  .home-page-strong {
    font-weight: bold;
    color: $primary-4;
  }

  .menu-wrapper {
    visibility: hidden;
    cursor: pointer;
    line-height: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 10px;
  }

  .menu-icon-item {
    height: 3px;
    width: 18px;
    border-radius: 1.5px;
    background: $blue-grey-300;
    transition: all .2s ease-out;
  }

  .menu-icon {
    @extend .menu-icon-item;
    display: inline-block;

    &::before, &::after {
      @extend .menu-icon-item;
      content: "";
      position: absolute;
    }

    $translate-distance: 6px;
    &::before {
      transform: translateY(- $translate-distance);
    }

    &::after {
      transform: translateY($translate-distance);
    }
  }

  .menu-icon-active {
    &::before, &::after {
      width: 12px;
    }

    &::before {
      transform: rotate(45deg);
      transform-origin: left top;
    }
    &::after {
      transform: rotate(-45deg);
      transform-origin: left bottom;
    }
  }

  .home-page-clickable {
    cursor: pointer;
    padding: 8px 0;
    transition: .2s ease-out all;
    text-decoration: underline solid white;

    &:hover {
      text-decoration: underline solid $primary-1;
    }
  }
}
