@import "./../variable/common-variable.dev";
@import "./../theme/theme-color.dev";

.progress-bar {
  position: fixed;
  top: 0;
  z-index: 3;

  width: 100vw;
  height: $progress-height;

  background: $primary-0;

  .progress {
    width: 0;
    height: $progress-height;

    background: linear-gradient(to right, $primary-2, $primary-4);
  }
}
