@import "./../variable/common-variable.dev";

.blog-layout-container {
  display: flex;
  justify-content: center;

  max-width: 1000px;
  padding: $page-up-down-padding 15px;
  margin: 0 auto;

  .sidebar {
    margin-right: 10px;
  }

  .article {
    flex: auto;
  }
}

@media (max-width: 800px) {
  .menu-icon {
    display: inline;
  }
}