@import "./../variable/common-variable.dev.scss";
@import "./../theme/theme-color.dev";

.article {
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  font-family: 'Noto Serif SC', serif;
  font-weight: 300;

  line-height: 1.8;
  word-break: break-word;
  word-wrap: break-word;

  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;

    &::before {
      content: "";
      display: block;
      margin-top: -50px;
      height: $header-height;
      visibility: hidden;
    }
  }

  h1 {
    font-size: 40px;
    margin: 10px 0 20px 0;
  }

  h2 {
    font-size: 32px;
    margin: 20px 0 15px 0;
  }

  h3 {
    font-size: 28px;
    margin: 15px 0 10px 0;
  }

  h4 {
    font-size: 24px;
    margin: 10px 0 5px 0;
  }

  h5 {
    font-size: 20px;
    margin: 5px 0 5px 0;
  }

  h6 {
    font-size: 16px;
    margin: 5px 0 5px 0;
  }

  p {
    margin: 7px 0;
  }

  li {
    margin: 3px;
  }

  ul,
  ol {
    list-style: none;
    padding-left: 1em;
    margin-top: .3em;
    margin-bottom: .8em;
  }

  ul > li::before {
    content: "\02022";
    display: inline-block;
    color: $primary-700;
    width: 1em;
    margin-left: -1em;
  }

  ol {
    counter-reset: li;
    margin: 0 0 0 .5em;

    li {
      text-align: left;
    }
  }

  ol > li::before {
    font-family: "Courier", "Courier New", monospace !important;
    overflow: hidden;
    font-size: 16px;
    line-height: 0;
    content: counter(li) '.';
    color: $primary-700;
    display: inline;
    width: 2em;
    margin-left: -1.6em;
    margin-right: .4em;
    text-align: right;
    counter-increment: li;
  }

  blockquote {
    margin: 10px 0;
    padding: 5px 15px;
    border-left: $secondary-800 4px solid;
    background: $secondary-50;
    position: relative;

    &::before {
      content: "!";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-family: monospace;
      color: white;
      position: absolute;
      left: -11px;
      top: 16px;
      width: 14px;
      height: 14px;
      background: $secondary-800;
      border: 2px $secondary-800 solid;
      border-radius: 50%;
    }
  }

  a {
    text-decoration: underline solid transparent;
    transition: .2s all ease-out;

    &:hover {
      text-decoration: underline solid $blue-grey-400;
    }
  }

  li > a, p > a {
    color: $primary-700;
  }

  img {
    max-width: 100%;
    max-height: 100vh;
    margin: 15px auto 30px auto;
    display: block;
    box-shadow: 0 2px 10px 0 $grey-200;
  }

  pre {
    padding: 10px 15px;
    border: black 1px solid;
  }

  code {
    overflow: auto;
    word-break: normal;
    padding: 0 3px;
    font-family: "Menlo", "Courier New", monospace;
    color: $blue-grey-500;
    font-size: 14px;
  }
}