body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

.light {
  height: 1px;
  position: relative;
  margin: 5px auto;
  width: 30px;
  background: white;
  animation: animation infinite backwards 10s;
}

@keyframes animation {
  0% {
    transform: translate(0, 0) rotate(30deg);
  }
  100% {
    transform: translate(1000px, 0) rotate(30deg);
  }
}